<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="javascript/scripts.js"></script>
  <title>Portal de Informações Godoy´s</title>
</head>
<body>
  <h2>PORTAL DE INFORMAÇÕES</h2>
  <p>Seja muito bem vindo(a) ao portal de informações!<p>
  <p>Aqui a notícia é a estrela.<p>
  <br>
  <a href="/index.ejs">Notícias em Destaque</a>
  <br>
  <a href="/index2.ejs">Todas as Notícias</a>
</body>
</html>