<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Portal de Informações</title>

</head>
<body>
  <h2>PORTAL DE INFORMAÇÕES</h2>
  <p><b>Todas as Notícias</b><p>
  <hr>
  <font size=+2><font color="#000099">Jovem sequestrada há quase 14 anos na Flórida se reencontra com a mãe</font></font><br>
  Jacqueline Hernandez teria sido levada pelo pai quando tinha seis anos, mas localizou a mãe e enviou mensagem para ela no Facebook. Polícia confirmou identidade e as duas se reencontraram na fronteira entre Estados Unidos e México, onde jovem vive atualmente.<br>
  <font size=-1>Há 9 minutos, Jornal da PINFO - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">As lições do caso em que professora sem vacina infectou metade da classe com Covid-19 nos EUA</font></font><br>
  CDC investigou caso em que docente inadvertidamente levou o vírus para sua sala de aula; caso traz ensinamentos sobre a importância de se prestar atenção a sintomas leves e de adultos se responsabilizarem pela proteção de crianças, que ainda não podem se vacinar.<br>
  <font size=-1>Há 10 minutos, Jornal da PINFO 2 - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">Ministro diz que Talibã não vai permitir que grupos usem o Afeganistão para planejar ataques a outros países</font></font><br>
  Grupo extremista acobertava a Al-Qaeda, responsável pelos ataques de 11 de Setembro, enquanto governou o território afegão há 20 anos.<br>
  <font size=-1>Há 11 minutos, Jornal da Portal INFO - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">'Cada dia é uma batalha para sobrevivência', diz bombeiro de MG sobre haitianos ao retornar de missão humanitária</font></font><br>
  Militares de Minas e do DF, além de integrantes da Força Nacional, passaram 21 dias no país caribenho devastado por terremotos.<br>
  <font size=-1>Há 14 minutos, Jornal da INFO MASTER - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">Grécia investiga acidente de avião em que morreu testemunha do julgamento de Netanyahu</font></font><br>
  Ex-premiê é acusado de corrupção, fraude e abuso de confiança e de ter concedido favores a magnatas da imprensa em troca de uma cobertura favorável da mídia.<br>
  <font size=-1>Há 19 minutos, Jornal da INFO TEC - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">Alta comissária da ONU pede proteção de indígenas e ambientalistas do Brasil</font></font><br>
  O alerta de Bachelet ocorre uma semana antes da viagem do presidente Jair Bolsonaro a Nova York. Como manda a tradição, o Brasil abre a Assembleia Geral da ONU, na qual o líder brasileiro deve responder às afirmações da alta comissária.<br>
  <font size=-1>Há 39 minutos, Jornal da INFO POLI - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">Pop-it: como macaco lançou febre do brinquedo que alivia stress</font></font><br>
  Sensação é parecida com apertar um papel-bolha – mas o produto não é descartável e pode ser apertado infinitamente.<br>
  <font size=-1>Há 1 hora , Jornal da INFO SEC - Nova Andradina</font>
  <hr>

  <font size=+2><font color="#000099">O controverso armazém da Amazon no meio de favela</font></font><br>
  Fotos do novo centro de distribuição de US$ 21 milhões da empresa no México se tornaram virais pelo forte contraste com as casas pobres ao seu redor.<br>
  <font size=-1>Há 2 horas , Jornal da INFO ECO - Nova Andradina</font>
  <hr>
  <br><a href="/">Voltar para Página Inicial</a>
</body>
</html>